<!DOCTYPE html>
<html>
<head>
    <title>Verify OTP</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">
    <h2>Enter OTP</h2>

    <!-- SEND OTP BUTTON -->
    <a href="/send_otp">
        <button type="button">Send OTP</button>
    </a>

    <!-- OTP DISPLAY -->
    {% if otp %}
        <p style="color: green; font-weight: bold;">
            OTP: {{ otp }}
        </p>
    {% endif %}

    <!-- ENTER OTP -->
    <form action="/verify_otp" method="post">
        <input type="text" name="otp" placeholder="Enter OTP" required>
        <button type="submit">Verify OTP</button>
    </form>

    <p><a href="/">Back to Login</a></p>
</div>

</body>
</html>